# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode12.4
language: swift
xcode_workspace: Example/OAuthProvider.xcworkspace
xcode_scheme: OAuthProvider-Example
xcode_destination: platform=iOS Simulator,OS=14.3,name=iPhone 12
cache: cocoapods
podfile: Example/Podfile

before_install:
 - gem install cocoapods
 - pod install --project-directory=Example
script:
- xcodebuild test -workspace 'Example/OAuthProvider.xcworkspace' -scheme 'OAuthProvider-Example' -destination 'platform=iOS Simulator,OS=14.3,name=iPhone 12'
#- pod lib lint
